thead {
    background-color:#337ab7;
    color:#FFF;
}
thead a {
    color:#FFF;
    font-weight:normal;
    text-decoration: underline;
}
thead a:hover
{
    color:#FFF;
    font-weight:bold;
}
thead a:visited
{
    color:#FFF;
    font-weight:normal;
}