<div class="panel panel-primary">

    <div class="panel-heading">
        <h3>ACS Technologies</h3>
        <h3 class="panel-title">Front End Challenge</h3>
    </div>
    <div class="panel-body">

        <p>This site is a single-page application that serves as a front-end to the ACS Technologies challenge API</p>
        <p>The Home page displays a list of contacts.</p>
        <p>Users can enter search criteria in the search field. This will filter the list</p>
        <p>Users can click on one of the field headings to sort the contacts by that field.</p>
        <p>Clicking on the name of the contact will take the user to a page where they can view and edit all of the contact info.</p>
        <p><strong>Note: </strong>When editing an existing contact, or adding a new contact, the following validation is enforced:</p>
        <ul>
            <li>First Name is required</li>
            <li>Email must be blank or have a valid format</li>
            <li>URL must be blank or have a valid format</li>
        </ul>
    </div>
    <div class="panel-footer clearfix">
        <p><a href="https://github.com/dkneuma/" target="_blank" title="Check out my GitHub repos"><i class="fa fa-github"></i> dkneuma</a></p>
        <p><small><i class="fa fa-copyright"></i>2016 Daniel Neumann</small></p>
    </div>
    </div>
