

<!--   ng-view below       -->
<form class="form-inline">
    <input ng-model="query" type="text"
           placeholder="Filter by" autofocus>
</form>
<div class="col-xs-7" ng-init="getContacts()">
    <div class="list-group panel-body" data-ng-repeat="contact in contacts | filter:query | orderBy:'first_name'">
        <a ng-href="#/contacts/details/{{contact.id}}">
            {{contact.first_name}}
        </a>
    </div>
</div>




<div class="row cardContainer" ng-init="getContacts()">
    <div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="contact in contacts | orderBy:'first_name'">
<div class="card">

    <div class="cardHeader"><a href="#/contacts/edit/{{contact.id}}" class="white">{{contact.first_name + ' ' + contact.last_name}} <i class="icon-edit icon-white editIcon"></i></a></div>
    <div class="cardBody">
        <div class="clearfix">
            <div class="pull-left cardBodyLeft">
                <a href="#/contact/edit/{{contact.id}}" class="white"></a>
            </div>
            <div class="pull-left cardBodyRight">
                <div class="cardBodyContent">{{contact.city}}, {{contact.state}}</div>

            </div>
        </div>
    </div>
</div>
</div>
</div>