<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-show="editForm.$invalid || !editForm.$dirty">Viewing: </span>
            <span ng-show="!editForm.$invalid && editForm.$dirty">Editing: </span>
            {{contact.first_name}} {{contact.last_name}}</h3>
    </div>
    <div class="panel-body">
        <form name="editForm" class="form-horizontal" novalidate>
         <div class="form-group">
            <label for="inputFirstName" class="control-label col-xs-2">First Name:</label>
            <div class="col-xs-10">
                <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" data-ng-model="contact.first_name" required>
                    <span class="help-block" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">
                            First name is required
                    </span>
            </div>
            </div>
         <div class="form-group">
            <label for="inputLastName" class="control-label col-xs-2">Last Name:</label>
             <div class="col-xs-10">
               <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" data-ng-model="contact.last_name">
             </div>
         </div>
            <div class="form-group">
                <label for="inputCompany" class="control-label col-xs-2">Company:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputCompany" placeholder="Company" data-ng-model="contact.company_name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="control-label col-xs-2">Address:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address" data-ng-model="contact.address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCity" class="control-label col-xs-2">City:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputCity" placeholder="City" data-ng-model="contact.city">
                </div>
            </div>
            <div class="form-group">
                <label for="inputState" class="control-label col-xs-2">State:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputState" placeholder="State" data-ng-model="contact.state">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip" class="control-label col-xs-2">Zip:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" data-ng-model="contact.zip">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="control-label col-xs-2">Phone:</label>
                <div class="col-xs-10">
                    <input type="tel" class="form-control" id="inputPhone" placeholder="Phone" data-ng-model="contact.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWorkPhone" class="control-label col-xs-2">Work Phone:</label>
                <div class="col-xs-10">
                    <input type="tel" class="form-control" id="inputWorkPhone" placeholder="Work Phone" data-ng-model="contact.work_phone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Email:</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" data-ng-model="contact.email" data-ng-minlength="3">
                    <span class="help-block" ng-show="editForm.email.$invalid && !editForm.email.$pristine" >Enter a valid or blank email.</span>
                </div>
            </div>
            <div class="form-group">
            <label for="inputURL" class="control-label col-xs-2">URL</label>
            <div class="col-xs-10">
                <input type="url" name="inputURL" class="form-control" id="inputURL" placeholder="URL" data-ng-model="contact.url">
                 <span class="help-block" ng-show="editForm.inputURL.$touched && editForm.inputURL.$invalid">
                          Enter a valid or blank URL
                    </span>
            </div>
        </div>

        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <button class="btn btn-primary" data-ng-click="saveContact(contact)" data-ng-disabled="editForm.$invalid || !editForm.$dirty">
                <span class="glyphicon glyphicon-pencil" ></span><span>  Save</span>
            </button>

            &nbsp;&nbsp;
            <button class="btn btn-danger" data-ng-if="contact.id > 0" data-ng-click="deleteConfirm(contact.id)">
                <span class="glyphicon glyphicon-remove"></span> <span>  Delete</span>
            </button>
        </div>
        <div class="pull-right">
            <span>{{status}}</span>
        </div>
    </div>
</div>
